.container {
    width: 1200px;
    margin: 0 auto;
}
.clear-both {
    clear: both;
}

:root {
    --primary-color: #3fd0d4;
    --white-color: #ffffff;
    --text-color: #212121;
    --text-small-color: #696868;
}

.box-shadow {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.302);
}